In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('Classified Data', index_col=0)

In [3]:
df.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [4]:
df.tail()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
scaler = StandardScaler()

In [7]:
scaler.fit(df.drop('TARGET CLASS',axis=1))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [9]:
scaled_features = scaler.transform(df.drop('TARGET CLASS',axis=1))

In [10]:
df_feat = pd.DataFrame(scaled_features, columns = df.columns[:-1])

In [11]:
df_feat.head()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314
1,-1.084836,-0.430348,-1.025313,0.625388,-0.444847,-1.152706,-1.129797,-0.202240,-1.828051,0.636759
2,-0.788702,0.339318,0.301511,0.755873,2.031693,-0.870156,2.599818,0.285707,-0.682494,-0.377850
3,0.982841,1.060193,-0.621399,0.625299,0.452820,-0.267220,1.750208,1.066491,1.241325,-1.026987
4,1.139275,-0.640392,-0.709819,-0.057175,0.822886,-0.936773,0.596782,-1.472352,1.040772,0.276510

In [12]:
from sklearn.cross_validation import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(scaled_features, df['TARGET CLASS'], test_size=0.30)

In [16]:
from sklearn.neighbors import KNeighborsClassifier

In [35]:
knn = KNeighborsClassifier(n_neighbors = 36)

In [36]:
knn.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=36, p=2,
           weights='uniform')

In [37]:
pred = knn.predict(x_test)

In [38]:
#lets evaluate

from sklearn.metrics import classification_report, confusion_matrix

In [39]:
print(confusion_matrix(y_test,pred))

[[146  10]
 [  5 139]]

In [40]:
print(classification_report(y_test,pred))

             precision    recall  f1-score   support

          0       0.97      0.94      0.95       156
          1       0.93      0.97      0.95       144

avg / total       0.95      0.95      0.95       300

In [42]:
knn.score(x_test,y_test)

0.94999999999999996

In [46]:
error_rate = []

for i in range(1,40):
    knn = KNeighborsClassifier(n_neighbors = i)
    knn.fit(x_train, y_train)
    pred_i = knn.predict(x_test)
    error_rate.append(np.mean(pred_i != y_test))
    
error_rate

[0.089999999999999997,
 0.089999999999999997,
 0.083333333333333329,
 0.066666666666666666,
 0.073333333333333334,
 0.063333333333333339,
 0.066666666666666666,
 0.059999999999999998,
 0.059999999999999998,
 0.050000000000000003,
 0.046666666666666669,
 0.046666666666666669,
 0.046666666666666669,
 0.046666666666666669,
 0.050000000000000003,
 0.043333333333333335,
 0.043333333333333335,
 0.043333333333333335,
 0.040000000000000001,
 0.043333333333333335,
 0.043333333333333335,
 0.050000000000000003,
 0.050000000000000003,
 0.053333333333333337,
 0.050000000000000003,
 0.056666666666666664,
 0.053333333333333337,
 0.053333333333333337,
 0.053333333333333337,
 0.053333333333333337,
 0.053333333333333337,
 0.053333333333333337,
 0.056666666666666664,
 0.053333333333333337,
 0.053333333333333337,
 0.050000000000000003,
 0.053333333333333337,
 0.053333333333333337,
 0.053333333333333337]